.start-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.start-screen h1 {
    font-size: 5rem;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.2);
}

.start-screen p {
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: #ddd;
}

.start-button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.start-button:hover {
    background-color: #555;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}
